*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, 'Times New Roman', Times, serif;
}

body, html {
    background-color: rgb(239, 239, 240);
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
    font: 14px 'Open Sans', sans-serif;
    color: #000;
}

p {
    font: 14px 'Open Sans', sans-serif;
}

span {
    font: 14px 'Open Sans', sans-serif;
    color: #ffffff;
}