.caixa {
    position: fixed;
    right: 40px;
    bottom: 100px;
    width: 280px;
    /* border: 1px solid red; */

    display: flex;
    justify-content: space-between;
    align-items: center;

    text-align: center;
}

.caixa .contato-wpp {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    width: 200px;
    height: 60px;
    background-color: #4C4B63;
    border-radius: 20px 20px 20px 20px;
    color: #fff;

}

#triangulo-para-direita {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #4C4B63;
    position: relative;
    left: 10px;
}

.caixa .wpp img {
    color: green;
}

@keyframes fa-blink {
    /* 0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 0; } */

    /* 15% { background-color: red; } */
    20% {color: purple;}
    40% {color: red;}
    60% {color: black;}
}
.fa-blink {
  -webkit-animation: fa-blink .75s linear infinite;
  -moz-animation: fa-blink .75s linear infinite;
  -ms-animation: fa-blink .75s linear infinite;
  -o-animation: fa-blink .75s linear infinite;
  animation: fa-blink 2s linear infinite;
}


/* mostrar e ocultar div */
.tog {
    position: fixed;
    right: 40px;
    bottom: 180px;

    width: 20px;
    border: none;
    border-radius: 20px;

    font-size: 23px;
    transition: 2s;

    opacity: 50%;
}