.caixa {
    position: fixed;
    right: 40px;
    bottom: 50px;
    width: 280px;
    /* border: 1px solid red; */

    display: flex;
    justify-content: space-between;
    align-items: center;

    text-align: center;
}

.caixa .contato-wpp {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    width: 200px;
    height: 60px;
    background-color: #4C4B63;
    border-radius: 20px 20px 20px 20px;
    color: #fff;

}

#triangulo-para-direita {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #4C4B63;
    position: relative;
    left: 10px;
}

.caixa .wpp img {
    color: green;
}