.carousel {
    height: 577px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
}

.contato {
    width: 100%;
    height: 100px;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}