footer .container {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
}

footer .footer {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    align-items: flex-start;
}

footer .footer .logo {
    width: 400px;
}

footer .footer .divLogo {
    position: absolute;
    opacity: 15%;
}

footer .container .footer div {
    margin: 25px;
}

footer .container .footer h2 {
    margin-bottom: 20px;
}

footer .container .footer li {
    margin-bottom: 10px;
}

footer .footer p {
    color: #bababa;
}

footer .footer a {
    color: #bababa;
    font-size: 14px;
}

footer .footer a:hover {
    cursor: pointer;
    color: #fff;
}

footer .footer .contatos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

footer .rodape {
    height: 80px;
    background-color: rgb(39, 37, 58);
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
}

/*Medias Query */
@media screen and (max-width: 1180px) {
    footer .container {
        height: 420px;
    }

    footer .container .footer {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 760px) {
    footer .container {
        height: 800px;
        width: 100%;
    }

    footer .container .footer {
        display: grid;
        grid-template-columns: auto;
        width: 100%;
        margin-left: 10px;
    }

    footer .container .footer .logo h2 {
        font-size: 20px;
    }

    footer .rodape {
        font-size: 12px;
    }
}

@media screen and (max-width: 375px) {
    footer .container {
        display: flex;
        justify-content: flex-start;
        height: 800px;
        width: 100vw;
    }

    footer .container .logo p {
        width: 340px;
    }

    footer .container .footer {
        display: grid;
        grid-template-columns: auto;
        /* margin-left: 30px; */
        width: 100vw;
        padding-left: 70px;
        height: 800px;
        overflow-x: hidden;
        /* background-color: #000; */
    }

    footer .container .footer .logo h2 {
        font-size: 18px;
    }

    footer .rodape {
        font-size: 12px;
        text-align: center;
    }
}

@media screen and (max-width: 320px) {
    footer .container .footer {
        padding-left: 110px;
    }

    footer .container .logo h2 {
        font-size: 13px;
    }

    footer .container .logo p {
        width: 270px;
    }
}